html, body {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family: Arial, Helvetica, sans-serif;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 700px;
  border: black solid 2px;
}

form {
    background-color: rgb(217, 204, 179);
    width: 500px;
    padding: 20px;
}

#quote {
    height: 100px

}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/*
input[type=submit] {
  background-color: #318640;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}*/

.button {
  border: 2px solid #64b903;
  background-color: #49c583;
  border-radius: 0.9em;
  cursor: pointer;
  padding: 0.8em 1.2em 0.8em 1em;
  /*transition: all ease-in-out 0.2s;*/
  font-size: 16px;
}

.button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.button:hover {
  background-color: #017d3f;
}

.button:active{
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #5566c2;
}